* {
  box-sizing: border-box;
}

html {
  font-size: 1.4vw;
}

body {
  background-color: #DFDFDF;
  font-family: 'Roboto mono';
  line-height: 2.4vw;
  color: #393939;
  letter-spacing: 0.6px;
  -webkit-font-smoothing: antialiased;
}

.mobileCheck {
  display: none;
}

.mobile {
  display: none;
}

.scroll {
  position: absolute;
  margin-left: 21.25vw;
  margin-top: 11.5vw;
}

.title {
  transform: rotate(-90deg);
  position: fixed;
  display: block;
  margin-left: -3.4vw;
  margin-top: 7.5vw;
}

.pWrapper {
  margin-left: 21.25vw;
  margin-top: 4.17vw;
}

.pWrapper p {
  max-width: 55.5vw;
}

.pWrapper p+p {
  margin-top: 4.37vw;
}

img {
  max-width: 28.6vw;
}

p+img, .download {
  margin-top: 1.5vw;
}

img+p {
  margin-top: 5.8vw;
}

.download+p {
  margin-top: 5.8vw;
}

p:last-of-type {
  padding-bottom: 6.9vw;
}

.download {
  max-width: 84vw;
  display: flex;
  align-items: center;
}

.link {
  color: #393939;
  display: block;
  margin-left: 30vw;
}

.slashes {
  margin-top: 11.5vw;
  position: absolute;
  margin-left: -80px;
}

.slashes p:nth-of-type(2) {
  margin-top: 30.9vw;
}

.slashes p:nth-of-type(3) {
  margin-top: 35.7vw;
}

#a {
  color: #393939;
  margin-left: 21.2vw;
  padding-bottom: 5vw;
}








@media screen and (max-device-width: 769px) {
  html {
    font-size: 3.5vw;
  }

  body {
    line-height: 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .mobileCheck {
    display: block;
  }

  .mobile {
    display: block;
  }

  .desktop {
    display: none;
  }

  .title, .scroll, .slashes {
    display: none;
  }

  .pWrapper {
    margin-left: 0vw;
    margin-top: 4.17vw;
    width: 86vw;
  }

  .pWrapper p {
    max-width: 100%;
  }

  img {
    max-width: 75vw;
  }

  .pWrapper p+p {
    margin-top: 6.37vw;
  }

  .download {
    max-width: 74vw;
    flex-direction: column;
    align-items: center;
  }

  p+img, .download {
    margin-top: 3.5vw;
  }

  img+p {
    margin-top: 7.8vw;
  }

  .download+p {
    margin-top: 7.8vw;
  }

  .link {
    margin-top: 1vw;
    margin-left: 0;
    font-size: 3.5vw;
  }

  #a {
    margin-left: 0;
  }
}






@media screen and (max-width: 769px) {
  html {
    font-size: 3.5vw;
  }

  body {
    line-height: 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .mobileCheck {
    display: block;
  }

  .mobile {
    display: block;
  }

  .desktop {
    display: none;
  }

  .title, .scroll, .slashes {
    display: none;
  }

  .pWrapper {
    margin-left: 0vw;
    margin-top: 4.17vw;
    width: 86vw;
  }

  .pWrapper p {
    max-width: 100%;
  }

  img {
    max-width: 75vw;
  }

  .pWrapper p+p {
    margin-top: 6.37vw;
  }

  .download {
    max-width: 74vw;
    flex-direction: column;
    align-items: center;
  }

  p+img, .download {
    margin-top: 3.5vw;
  }

  img+p {
    margin-top: 7.8vw;
  }

  .download+p {
    margin-top: 7.8vw;
  }

  .link {
    margin-top: 1vw;
    margin-left: 0;
    font-size: 3.5vw;
  }

  #a {
    margin-left: 0;
  }
}
